html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #201412;
}

header {
  display: block;
  width: 1500px;
  height: 770px;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: white;
  color: rgba(255,255,255,0.5);
  height: auto;
  font-family: 'Indie Flower', cursive;
  position: absolute;
    top: 630px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_button {
  position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255,193,40,0.4)
}
