html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #201412;
}

header {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1500px;
  height: 770px;
  text-align: center;
}

h1 {
  display: block;
  color: rgba(255,255,255,0.5);
  position: relative;
  top: 80%;
}

.subscription {
  position: relative;
  top: 82%;
}
